# OS X files
.DS_Store
*.swp
*.lock
profile

# Xcode build files
build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xccheckout
*.xcuserstate
*.pbxuser

# DotEnv files
.env

# CocoaPods
Pods/

# Swift specific
*.ipa
*.dSYM